.deals {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/samuel-zeller-118195-unsplash.jpg) center/cover fixed
      no-repeat;
  z-index: -10;
}
.card-container {
  height: 80vh;
  width: 80vw;
  margin: 10vh 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 1rem;
}

.card {
  height: 30rem;
  width: 25rem;
  background: rgb(245, 245, 245);
  border: 1px solid black;
  border-radius: 1rem;
  overflow: hidden;
  &__image {
    width: 100%;
    border-bottom: 1px solid black;
  }
  &__description {
    font-size: 1.8rem;
  }
}
