.social-media {
  position: absolute;
  top: 0;
  right: 0;
  @media (max-width: 700px) {
    top: 0;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  & a {
    font-size: 4rem;
    color: whitesmoke;
    padding: 1.5rem;
  }
}
