.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
    url(../images/lost-co-178990-unsplash.jpg) center/cover fixed no-repeat;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    width: 60%;
    height: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__text--main {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 100;
    color: whitesmoke;
    font-size: 5rem;
  }
  &__links {
    display: flex;
    justify-content: space-around;
  }
  &__links--text {
    color: whitesmoke;
    text-decoration: none;
    font-size: 3rem;
  }
}
