.hero {
  height: 40%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__heading {
    width: 100%;
    text-align: center;
    padding-bottom: 4rem;
  }

  &__text--main {
    width: 100%;
    font-weight: 100;
    color: whitesmoke;
    font-size: 5rem;
    padding-bottom: 2rem;
  }

  &__text--sub {
    font-size: 2rem;
  }

  &__links {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__links--text {
    text-align: center;
    border: 1px solid whitesmoke;
    width: 20rem;
    color: whitesmoke;
    text-decoration: none;
    font-size: 3rem;
    margin: 0 2rem;
    padding: 1rem 1.5rem;
    transition: all 0.8s;
    &:hover {
      color: black;
      background: whitesmoke;
      position: relative;
      top: -3px;
    }
  }
}
