@import "./reset.scss";
@import "./variables";
@import "./hero";
@import "./header-links.scss";

body {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
    url(../images/lost-co-178990-unsplash.jpg) center/cover fixed no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
}
